@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <h1 class="text-center mt-5">Gestionale</h1>
</div>

<div class="container h-100">
    <div class="row justify-content-center align-items-center" style="height: 70vh;">
        <!-- Card Dipendenti -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Dipendenti</h5>
                    <p class="card-text">Gestisci i tuoi dipendenti.</p>
                    <a href="/Dipendenti" class="btn btn-primary">Vai a Dipendenti</a>
                </div>
            </div>
        </div>
        <!-- Card Pagamenti -->
        <div class="col-md-4">
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">Pagamenti</h5>
                    <p class="card-text">Gestisci i pagamenti dei dipendenti.</p>
                    <a href="/Pagamenti" class="btn btn-primary">Vai a Pagamenti</a>
                </div>
            </div>
        </div>
    </div>
</div>
